body {
    background-color: rgb(243, 165, 176);
    margin: 0; /* Remove default body margin */
}

.centerLogo{
    text-align: center;
}
#myLogo {
    padding: 20px;
    width: 320px;
    height: auto;
}
.searchBar{
    text-align: center;
}
